.start_screen{
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    img{
        height: 100vh;
    }
}

.start_label{
    position: absolute;
    left:0;
    right:0;
    bottom: 50px;
    display: flex;
    justify-content: center;

    img{
        width: 40vw;
        height: auto;

        &:hover{
            cursor: pointer;
            filter: brightness(1.25);
        }
    }
}